@import url("fonts.css");
@import url("colors.css");

html {
	box-sizing: border-box;
	height: 100%;
}

*, ::after, ::before {
	box-sizing: inherit;
}

body {
	height: inherit;
	margin: 0;
}

h1, h2, h3, ul, p {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.container {
	margin: 0 auto;
	max-width: 1280px;
	padding: 0 2.5rem;
}

.section {
	.section__link {
		display: inline-flex;
		border-radius: 100px;
		padding: 0.9em 2.65em;
		background-color: var(--color-primary);
		font-size: 1.0625rem;
		color: var(--color-dark-3xl);

		&:hover {
			background-color: var(--color-primary-light);
		}
	}
}

#start {
	padding-top: 1.875rem;
	background: var(--background-start);

	.section__container {
		display: flex;
		justify-content: space-between;
	}

	.section__content {
		display: flex;
		flex-direction: column;
		align-items: baseline;
		gap: 2.625rem;
		padding-top: 15.8rem;
		padding-bottom: 15.25rem;
	}

	.section__title {
		max-width: 310px;
		font-size: 2.75rem;
		letter-spacing: 0em;
		line-height: 130%;
		color: var(--color-light-xl);
	}

	.section__text {
		max-width: 460px;
		line-height: 160%;
		color: var(--color-dark-s);
	}

	.section__img {
		align-self: end;
		object-fit: contain;
	}
}

.header {
	display: flex;
	justify-content: space-between;
}

.logo {
	.logo__title {
		color: var(--color-primary);
		font-size: 2rem;
	}

	.logo__slogan {
		margin-top: 0.7em;
		margin-left: 0.3em;
		color: var(--color-light-xl);
		font-size: 0.8125rem;
		letter-spacing: 0.1em;
	}
}

.nav {
	align-content: center;

	.nav__list {
		display: flex;
		gap: 2.4em;
	}

	.nav__link {
		position: relative;
		display: inline-flex;
		font-family: var(--font-family-secondary);
		letter-spacing: 0em;
		color: var(--color-dark-s);

		&:hover {
			color: var(--color-light-s);

			&::after {
				position: absolute;
				content: "";
				bottom: -7px;
				width: 100%;
				height: 3px;
				background-color: var(--color-primary);
			}
		}
	}
}
